[submodule "debugclient/lib/SFML-Toolkit"]
	path = debugclient/lib/SFML-Toolkit
	url = https://github.com/Hazurl/SFML-Toolkit
[submodule "debugclient/lib/parser"]
	path = debugclient/lib/parser
	url = https://github.com/Hazurl/parser
[submodule "client/lib/SFML-Toolkit"]
	path = client/lib/SFML-Toolkit
	url = https://github.com/Hazurl/SFML-Toolkit/
